{
  mail=>{
    Server   => 'imap.***.co.jp',
    User     => '******'.'@****.co.jp',
    Password => '*******',
  },
  format_str => {
    before => 'ヤフオク!アラート：',
    after  => '',
  },
  appid     => "GNK.********************************************************r9A-",
}
